* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  justify-content: center;
  grid-row-gap: 50px;
  padding: 80px 0 30px;
}
.num-list {
  width: 300px;
  height: 300px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.num-item {
  font-size: 20px;
  font-weight: bold;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  &.true,
  &.clicked {
    color: #999;
    background-color: #f0f0f0;
    cursor: default;
  }
}
.num-item:nth-child(-n+3) {
  border-top: 1px solid #111;
}
.num-item:nth-child(3n-2) {
  border-left: 1px solid #111;
}
.stopwatch {
  font-size: 40px;
  text-align: center;
}
.reset {
  display: block;
  padding: 10px 40px;
  justify-self: center;
  cursor: pointer;
}
